@import '../../../assets/mixins.scss';

:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    overflow-y: auto;
    padding: 1rem 1rem 142px;
}

.modal__get-started {
    margin: 100px auto;
    width: 40%;
    height: 70%;
    background: rgba(7, 14, 39, 1);
    border-radius: 24px;
    text-align: center;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 40%);
}

.wrap {
    padding-top: 25px;
    width: 90%;
    justify-content: space-between;
}

.second {
    display: block;
}

.title {
    text-align: left;
    @include fontFamily('Sora', normal, 100, 22px, 75px);
    color: #fff;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase; 
}

hr {
    width: 90%;
    background: #081131; 
    opacity: 0.16;
    border-radius: 16px;
    margin: 0 auto;
}

.middle__text {
    width: 90%;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    @include fontFamily('Sora', normal, 100, 20px, 30px);
    letter-spacing: -0.04em;
    color: #CCD2E9;
}

.actions__buttons {
    max-width: 97%;
    display: flex;
    justify-content: space-between;
    margin-top: -10%;

    .get_started {
        background-color: #1161ed;
        color: #FFF;
        width: 40%;
        padding: 10px 20px;
        display: block;
        height: 39px;
        border-radius: 20px;
        margin-top: 17%;
        margin-left: 3%;
        transition: all 0.5s ease-in-out;
        border: none;
        text-transform: uppercase;
        @include fontFamily('Sora', normal, 100, 18px, 21px);
    
        &:hover {
            background: #4082f5;
            box-shadow: 0px 4px 35px -5px #4082f5;
            cursor: pointer;
        }
    
        &:focus {
            outline: none;
        }
    }
}

.email__input {
    width: 90%;
    p {
        text-align: left;
        font-size: 18px;
        opacity: 0.4; 
        color: #fff;
        display: inline-block;
        position: relative;
        transition: all 0.5s ease-in-out;
        margin-left: -86%;
    }
      
    .text {
        border: none;
        width: 89%;
        padding: 10px 10px;
        display: block;
        height: 15px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0);
        overflow: hidden;
        margin-top: 15px;
        transition: all 0.5s ease-in-out;
    }
      
    .text:focus {
        outline: 0;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        background: rgba(0, 0, 0, 0);
    }
      
    .text:focus + p {
        opacity: 0.6;
    }

    input {
        display: inline-block;
        padding-top: 20px;
        @include fontFamily('Sora', normal, 400, 14px, 28px);
        color: #fff;
    }   
}



@include xs {
    .modal__get-started {
        width: 90%;
        height: auto;
        border-radius: 22px;
        margin-left: -5px;

        .get_started {
            @include fontFamily('Sora', normal, 100, 10px, 20px);
        }
    }

    .btns {
        display: block;
    }
    
    .wrap {

        .close__btn {
            width: 6%;
            margin-top: -5%;
        }
    }
    
    hr {
        width: 90%;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
    }
    
    .middle__text {
        width: 90%;
        @include fontFamily('Sora', normal, 400, 15px, 24px);
    }
    
    .actions__buttons {
        max-width: 97%;
        margin-top: 3%;
        margin-left: 5%;
        padding-bottom: 30px;

        .get_started {
            margin-left: -5%;
            margin-top: 12px;
        }
    }
    
    .email__input {
        p {
            font-size: 20px;
            margin-left: -83%;
        }
    }
}

@include sm {
    .modal__get-started {
        width: 90%;
    } 

    .wrap {
        padding-top: 15px;
    }

    .middle__text {
        font-size: 17px;
    }
}

@include md {
    .modal__get-started {
        width: 75%;
    } 

    .wrap {
        padding-top: 15px;
    }

    .middle__text {
        font-size: 17px;
    }
}

@include lg {
    .modal__get-started {
        width: 40%;
        height: 65%;
    } 

    .wrap {
        padding-top: 15px;
    }

    .middle__text {
        font-size: 17px;
    }
}

@include xl {
    .modal__get-started {
        width: 40%;
        height: 68%;
    } 

    .wrap {
        padding-top: 15px;
    }

    .middle__text {
        font-size: 17px;
    }
}