<div class="modal__get-started">
    <div class="wrap">
        <div class="title">
            <p>Choose your rate!</p>
        </div>
        <div class="close__btn">
            <img src="../../../assets/Close_icon-icons.com_71857.svg" alt="Close" (click)="closeWindow()">
        </div> 
    </div>
    <hr/>
    <div class="middle__text">
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. 
            Fugiat eos ipsa voluptate, nobis 
            cumque quos sed, omnis, rerum velit 
            dicta vero minima debitis corporis 
            incidunt sapiente explicabo deserunt quia veniam.
        </p>
    </div>
    <div class="wrap btns">
        <div class="email__input" *ngIf="isEmailVisible">
            <p>E-mail:</p>
            <input type="email" id="Email" placeholder="name@example.com">
            <button class="get_started">Send</button>
        </div>
        <div class="actions__buttons">
            <button class="get_started" (click)="showlogin()">Sign In</button>
            <button class="get_started" (click)="isEmailVisible = true">Send for      E-mail</button>
        </div>
    </div>
</div>