@import '../assets/mixins.scss';
//*********************************************************************  MAIN  **********************************************************************

// main {
//     width: 100%;
//     height: 1244px;
// }

//*********************************************************************  SECTION START PAGE  **********************************************************

.start__page {
    width: 100%;
    height: 1244px;

    .start__text {
        @include fontFamily('Sora', normal, 700, 64px, 80px);
        letter-spacing: -0.03em;
        color: rgba(22, 32, 68, 1);
        margin-top: 64px;
    }

    .start__description {
        width: 400px;
        @include fontFamily('Sora', normal, 400, 20px, 32px);
        letter-spacing: -0.02em;
        color: rgba(126, 139, 182, 1);
        margin-top: 92px;

        button {
            width: 188px;
            height: 56px;
            background: rgba(0, 89, 247, 1);
            border-radius: 8px;
            align-items: center;
            border:none;

            margin-top: 32px;

            color: rgba(255, 255, 255, 1);
            @include fontFamily('Sora', normal, 500, 16px, 24px);

            &:active {
                background: rgb(66, 133, 250);
            }
        }
    }

    .start__dashboard {
        margin-top: 100px;
        position: relative;

        .start__loader {
            position: absolute;
            left: -10%;
            top: 30%;
        }

        .dashboard__message {
            position: absolute;
            left: 30%;
            top: 44%;
        }
    }

    .companies__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin-top: 94px;
    }
}

hr {
    margin-top: 94px;
    width: 1060px;
    margin: 0 auto;
    border: 1px solid rgba(78, 90, 133, 1);
    opacity: 0.1;
}

//**************************************************************  SECTION FEATURES PAGE  **************************************************************

.features {
    margin-top: 96px;

    .__title {
        @include fontFamily('Sora', normal, 600, 48px, 64px);
        letter-spacing: -0.03em;
        color: rgba(39, 52, 100, 1);
    }

    .__description {
        margin-top: 16px;
        margin-bottom: 32px;
        width: 400px;
        @include fontFamily('Sora', normal, 400, 20px, 32px);
        letter-spacing: -0.02em;
        color: rgba(126, 139, 182, 1);
    }

    .tiny__wrap {
        max-width: 860px;
        margin: 0 auto;
    }

    .wrap {
        max-width: 860px;
        height: 950px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .dashboard__panel {
        box-sizing: border-box;
        width: 400px;
        height: 288px;
        border: 1px solid rgba(204, 210, 233, 0.5);
        border-radius: 16px;

        img {
            padding-left: 36px;
            padding-top: 36px
        }

        .name__panel {
            @include fontFamily('Sora', normal, 600, 24px, 32px);
            letter-spacing: -0.02em;
            color: rgba(7, 14, 39, 1);
            padding-left: 32px;
            padding-top: 36px
        }

        .description__panel {
            @include fontFamily('Sora', normal, 400, 14px, 24px);
            letter-spacing: -0.01em;
            color: rgba(7, 14, 39, 1);
            opacity: 0.5;
            padding-left: 32px;
            padding-top: 16px
        }

        &:hover {
            background-color: #fff;
        }
    }

    .features__promo {
        margin-top: 96px;
        width: 840px;
        height: 328px;
        background: rgba(0, 89, 247, 1);
        border-radius: 24px;
        text-align: center;
    }
}

.question {
    @include fontFamily('Sora', normal, 500, 20px, 32px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    opacity: 0.5;
    padding-top: 72px;
    color: #fff;
}

.promo__text {
    @include fontFamily('Sora', normal, 600, 36px, 40px);
    padding-top: 16px;
    letter-spacing: -0.03em;
    color: #fff;
}

.get_started {
    margin-top: 32px;
    width: 178px;
    height: 64px;
    background: #689EFF;
    border-radius: 8px;
    border: none;

    @include fontFamily('Sora', normal, 500, 16px, 24px);
    color: #fff;

    .arrow {
        display: flex;
        margin-left: 34px;
    }

    &:active {
        background: #9dbffd
    }
}

.site__author {
    margin-top: 148px;
    @include fontFamily('Sora', normal, 500, 20px, 32px);
    text-align: center;
    letter-spacing: 0.02em;
    color: #7E8BB6;
}

//**********************************************************  SECTION HOW IT WORKS PAGE  **************************************************************

.how_it_works {
    margin-top: 8px;

    .wrap {
        margin-top: 96px;
        width: 1300px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .how_it_works__panel {
        width: 500px;
        height: 360px;
    }

    .how_it_title__name {
        @include fontFamily('Sora', normal, 600, 36px, 40px);
        letter-spacing: -0.03em;
        color: #273464;
        margin-top: 90px;
    }

    .how_it_title__description {
        width: 400px;
        @include fontFamily('Sora', normal, 400, 20px, 32px);
        letter-spacing: -0.02em;
        color: rgba(126, 139, 182, 1);
        margin-top: 28px;
    }
}

.how__title {
    @include fontFamily('Sora', normal, 600, 48px, 64px);
    text-align: center;
    letter-spacing: -0.03em;
    color: #273464;
}

//**********************************************************  SECTION PRICING PAGE  **************************************************************

.price__section {
    margin-top: 8px;

    .price__cart {
        margin-top: 176px;
        width: 400px;
        height: 630px;
        background: #081131;
        box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
        border-radius: 16px;

        &:hover {
            margin-top: 76px;
            background: #162044;

            .get_started {
                background: #0059F7;
            }
        }

        .price__rate {
            margin-top: 48px;
            margin-left: 50px;
            @include fontFamily('Sora', normal, 500, 20px, 32px);
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #7E8BB6;
        }

        .price {
            margin-top: 12px;
            margin-left: 50px;
            @include fontFamily('Sora', normal, 600, 54px, 64px);
            letter-spacing: -0.04em;
            color: #4E5A85;

            span {
                color: #fff;
            }
        }

        hr {
            margin-top: 48px;
            width: 304px;
            background: #081131;
            opacity: 0.16;
            border-radius: 16px;
        }

        .features__list {
            margin-top: 48px;
            list-style: none;

            li {
                margin-left: 50px;
                margin-bottom: 24px;
                @include fontFamily('Sora', normal, 400, 16px, 24px);
                letter-spacing: -0.01em;
                color: #CCD2E9;
                padding-left: 36px;
                background: url(../assets/checkbox.svg) no-repeat;
            }
        }

        .get_started {
            margin-left: 50px;
            background: #4E5A85;
        }
    }
}

//*************************************************************  SECTION PROMO PAGE  ******************************************************************

.promo {
    margin-top: 172px;
    margin-bottom: 132px;
    
    .block {
        width: 1060px;
        height: 176px;
        background: #0059F7;
        border-radius: 24px;
        display: flex;
        justify-content: space-around;

        .question {
            @include fontFamily('Sora', normal, 500, 14px, 16px);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            opacity: 0.5;
            padding-top: 50px;
            color: #fff;
            margin-left: -80px;
        }

        .promo__text {
            margin-left: -80px;
        }

        .get_started {
            margin-top: 57px;
            margin-right: -80px;
        }
    }


}

