  <header>
    <div class="wrap">
      <div class="header__logo">
        <img src="../assets/logo.svg" alt="Logo">
        <p>Saflow</p>
      </div>
      <button type="button">Login</button>
    </div>
    <hr/>
  </header>
  <main>

    <div class="start__page">
      <div class="wrap">
        <div class="start__text">
            <p>Landing</p>
            <p>Template for</p>
            <p>Startups</p>
        </div>
        <div class="start__description">
          <p>Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
          <button>Pricing and Plans</button>
        </div>
      </div>
      <div class="wrap">
        <div class="start__dashboard">
          <img src="../assets/Dashboard_Large_(Light).svg" alt="Dashboard_Large">
          <div class="start__loader"><img src="../assets/Loader.svg" alt="Временно тут"></div>
          <div class="dashboard__message"><img src="../assets/dashboard_message.svg" alt="Временно тут"></div>
        </div>
      </div>
      <div class="wrap">
        <ul class="companies__list">
          <li><img src="../assets/companies/Google_Logo.svg" alt="Google"></li>
          <li><img src="../assets/companies/Slack_Logo.svg" alt="slack"></li>
          <li><img src="../assets/companies/Amazon_Logo.svg" alt="amazon"></li>
          <li><img src="../assets/companies/Zoom_Logo.svg" alt="ZOOM"></li>
          <li><img src="../assets/companies/Netflix_Logo.svg" alt="NETFLIX"></li>
        </ul>
      </div>
    </div>
    <hr/>

    <div class="features">
      <div class="tiny__wrap">
        <p class="__title">Features</p>
        <p class="__description">Our landing page template works on all devices, so you only have to set.</p>
      </div>
      <div class="wrap">
        <div class="dashboard__panel">
          <img src="../assets/features_section/dashboard-fill.svg" alt="dashboard">
          <p class="name__panel">Dashboard</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/tailed-comments-fill.svg" alt="tailored comments">
          <p class="name__panel">Tailored comments</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/profiles-fill.svg" alt="profiles">
          <p class="name__panel">Profiles</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/comment-fill.svg" alt="comment">
          <p class="name__panel">Comment</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/statistic-fill.svg" alt="statistic">
          <p class="name__panel">Statistic</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/folder-fill.svg" alt="folders">
          <p class="name__panel">Folders</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
      </div>
      <div class="tiny__wrap">
        <div class="features__promo">
          <p class="question">READY TO START?</p>
          <p class="promo__text">Start your free trial today!</p>
          <button>
            <div class="arrow">
              <p>Get Started</p>
              <img src="../assets/features_section/arrow.svg" alt="arrow)">
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="how_it_works"></div>

    <div class="pricing"></div>

    <div class="promo"></div>

  </main>
  <footer>
    <div class="wrap">
      <div class="bio__links">
        <ul>
          <li><a href=""><img src="../assets/facebook-line1.svg" alt="Facebook"></a></li>
          <li><a href=""><img src="../assets/twitter-line1.svg" alt="Twitter"></a></li>
          <li><a href=""><img src="../assets/instagram-line1.svg" alt="Instagram"></a></li>
          <li><a href=""><img src="../assets/linkedin-line1.svg" alt="LinkedIn"></a></li>
        </ul>
      </div>
      <div class="terms__etc">
        <a href="">Terms & Conditions</a>
        <a href="">Privacy Policy</a>
      </div>
      <div class="copyright">
        <p>2022 All right reserved</p>
      </div>
    </div>
  </footer>