@import '../assets/mixins.scss';
//*********************************************************************  SECTION START PAGE  **********************************************************

.start__page {
    height: 1244px;

    .start__text {
        @include fontFamily('Sora', normal, 700, 64px, 80px);
        letter-spacing: -0.03em;
        color: rgba(22, 32, 68, 1);
        margin-top: 64px;
    }

    .start__description {
        width: 400px;
        @include fontFamily('Sora', normal, 400, 20px, 32px);
        letter-spacing: -0.02em;
        color: rgba(126, 139, 182, 1);
        margin-top: 92px;

        button {
            width: 188px;
            height: 56px;
            background: rgba(0, 89, 247, 1);
            border-radius: 8px;
            align-items: center;
            border:none;

            margin-top: 32px;

            color: rgba(255, 255, 255, 1);
            @include fontFamily('Sora', normal, 500, 16px, 24px);

            &:active {
                background: rgb(66, 133, 250);
            }
        }
    }

    .start__dashboard {
        margin-top: 100px;
        position: relative;

        .start__loader {
            height: 180px;
            width: 182px;
            border-radius: 15%;
            box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.6);
            background-color: #0059F7;
            position: absolute;
            top: 30%;
            right: 85%;
        }

        .dashboard__message {
            position: absolute;
            left: 30%;
            top: 44%;
        }

        .frame {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            height: 400px;
            margin-top: -200px;
            margin-left: -200px;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
          
        .circle-big {
            position: relative;
            width: 114px;
            height: 114px;
            margin: 30px auto 25px auto;
        }
          
        .circle-big svg {
            width: 114px;
            height: 114px;
        }
          
        .circle-big .bg {
          fill: none;
            stroke-width: 10px;
            stroke: rgba(255, 255, 255, 0.2);
        }
          
        .circle-big .progress_1 {
            fill: none;
            stroke-width: 11px;
            stroke: rgba(255, 255, 255, 0.6);
            stroke-linecap: round;
            stroke-dasharray: 326.56;
            stroke-dashoffset: 190;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            animation: smal 1.5s ease-in-out;
        }

        .circle-big .progress_2 {
            fill: none;
            stroke-width: 11px;
            stroke: rgba(255, 255, 255, 0.4);
            stroke-linecap: round;
            stroke-dasharray: 326.56;
            stroke-dashoffset: 140;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            animation: midle 1.5s ease-in-out;
        }

        .circle-big .progress_3 {
            fill: none;
            stroke-width: 11px;
            stroke: rgba(255, 255, 255, 0.3);
            stroke-linecap: round;
            stroke-dasharray: 326.56;
            stroke-dashoffset: 100;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            animation: big 1.5s ease-in-out;
        }
          
        .circle-big .text {
            position: absolute;
            width: 100%;
            top: 37px;
            @include fontFamily('Sora', normal, 600, 24px, 32px);
            text-align: center;
        }

        .sm_display {
            display: none;
        }
          
        @keyframes smal {
          from {
              stroke-dashoffset: 326.56;
            }
            to {
              stroke-dashoffset: 190;
            }
        }

        @keyframes midle {
            from {
                stroke-dashoffset: 326.56;
              }
              to {
                stroke-dashoffset: 140;
              }
          }

        @keyframes big {
            from {
                stroke-dashoffset: 326.56;
              }
              to {
                stroke-dashoffset: 100;
              }
        }
    }

    .companies__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin-top: 94px;
    }
}

hr {
    margin-top: 94px;
    width: 1060px;
    margin: 0 auto;
    border: 1px solid rgba(78, 90, 133, 1);
    opacity: 0.1;
}

// for mobile
@include xs {      
    .wrap {
        display: block;
    }

    .start__page {
        height: 515px;
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 66px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start__description {
            width: 95%;
            margin-top: 13px;
            margin-left: 15px;
        }
    
        .start__dashboard {
            display: none;
        }
    
        .companies__list {
            width: 100%;
            margin-top: 36px;
            img {
                width: 58px;
                margin-left: 5px;
            }
        }
    }
    
    hr {
        width: 100%;
    }
}

@include sm {

    .start__page {
        .wrap {
            width: 100%;
        }

        height: 100%;
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 60px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start__description {
            margin-top: 13px;
            margin-left: 15px;
        }
    
        .start__dashboard {
            margin-top: 20px;
            margin-left: 10px;
            width: 100%;
            img {
                max-width: 98%;
            }

            .start__loader {
                left: 2%;
                max-width: 13%;
                max-height: 21%;
            }

            .frame {
                
                .sm_display {
                    display: block;
                }

                .big_display {
                    display: none;
                }

                .circle-big .text {
                    top: 40px;
                    @include fontFamily('Sora', normal, 600, 14px, 32px);
                }

                .circle-big {
                    width: 114px;
                    height: 117px;
                }
                  
                .circle-big .bg {
                    stroke-width: 6px;
                }
                  
                .circle-big .progress_1 {
                    stroke-width: 5px;
                    stroke-dasharray: 140;
                    stroke-dashoffset: 40;
                    animation: big_1 1.5s ease-in-out;
                }
        
                .circle-big .progress_2 {
                    stroke-width: 5px;
                    stroke-dasharray: 140;
                    stroke-dashoffset: 60;
                    animation: midle_1 1.5s ease-in-out;
                }
        
                .circle-big .progress_3 {
                    stroke-width: 5px;
                    stroke-dasharray: 140;
                    stroke-dashoffset: 80;
                    animation: smal_1 1.5s ease-in-out;
                }

                @keyframes smal_1 {
                    from {
                        stroke-dashoffset: 140;
                      }
                      to {
                        stroke-dashoffset: 80;
                      }
                  }
          
                  @keyframes midle_1 {
                      from {
                          stroke-dashoffset: 140;
                        }
                        to {
                          stroke-dashoffset: 60;
                        }
                    }
          
                  @keyframes big_1 {
                      from {
                          stroke-dashoffset: 140;
                        }
                        to {
                          stroke-dashoffset: 40;
                        }
                  }
            }
        }
    
        .companies__list {
            width: 99%;
            margin-top: 36px;
            img {
                width: 58px;
                margin-left: 5px;
            }
        }
    }
    
    hr {
        width: 100%;
    }
}

@include md {
    .start__page {
        height: 100%;

        .wrap {
            width: 100%;
        }
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 60px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start__description {
            margin-top: 13px;
            margin-left: 15px;
        }
    
        .start__dashboard {
            margin-top: 20px;
            margin-left: 10px;
            width: 100%;
            img {
                max-width: 98%;
            }

            .start__loader {
                left: 2%;
                max-width: 13%;
                max-height: 21%;
            }

            .frame {
                
                .sm_display {
                    display: block;
                }

                .big_display {
                    display: none;
                }

                .circle-big .text {
                    top: 40px;
                    @include fontFamily('Sora', normal, 600, 11px, 32px);
                }

                .circle-big {
                    width: 114px;
                    height: 117px;
                }
                  
                .circle-big .bg {
                    stroke-width: 6px;
                }
                  
                .circle-big .progress_1 {
                    stroke-width: 5px;
                    stroke-dasharray: 140;
                    stroke-dashoffset: 40;
                    animation: big_1 1.5s ease-in-out;
                }
        
                .circle-big .progress_2 {
                    stroke-width: 5px;
                    stroke-dasharray: 140;
                    stroke-dashoffset: 60;
                    animation: midle_1 1.5s ease-in-out;
                }
        
                .circle-big .progress_3 {
                    stroke-width: 5px;
                    stroke-dasharray: 140;
                    stroke-dashoffset: 80;
                    animation: smal_1 1.5s ease-in-out;
                }

                @keyframes smal_1 {
                    from {
                        stroke-dashoffset: 140;
                      }
                      to {
                        stroke-dashoffset: 80;
                      }
                  }
          
                  @keyframes midle_1 {
                      from {
                          stroke-dashoffset: 140;
                        }
                        to {
                          stroke-dashoffset: 60;
                        }
                    }
          
                  @keyframes big_1 {
                      from {
                          stroke-dashoffset: 140;
                        }
                        to {
                          stroke-dashoffset: 40;
                        }
                  }
            }
        }
    
        .companies__list {
            width: 99%;
            margin-top: 36px;
            img {
                width: 58px;
                margin-left: 5px;
            }
        }
    }
    
    hr {
        width: 100%;
    }
}

@include lg {
    .start__page {
        height: 100%;

        .wrap {
            width: 100%;
            margin: 0 auto;
        }
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 60px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start__description {
            margin-top: 13px;
            margin-left: 15px;
        }
    
        .start__dashboard {
            margin-top: 20px;
            margin-left: 10px;
            width: 100%;
            img {
                margin-left: 4%;
                max-width: 98%;
            }

            .start__loader {
                left: 2%;
                max-width: 13%;
                max-height: 21%;
            }

            .frame {
                .big_display {
                    display: block;
                }

                .circle-big .text {
                    top: 40px;
                    @include fontFamily('Sora', normal, 600, 24px, 32px);
                }
            }
        }
    
        .companies__list {
            width: 85%;
            margin-right: 2%;
            margin-top: 36px;
            img {
                width: 58px;
                margin-left: 5px;
            }
        }
    }
    
    hr {
        width: 87%;
        margin-right: 7%;
    }
}

//**************************************************************  SECTION FEATURES PAGE  **************************************************************

.features {
    margin-top: 96px;

    .__title {
        @include fontFamily('Sora', normal, 600, 48px, 64px);
        letter-spacing: -0.03em;
        color: rgba(39, 52, 100, 1);
    }

    .__description {
        margin-top: 16px;
        margin-bottom: 32px;
        width: 400px;
        @include fontFamily('Sora', normal, 400, 20px, 32px);
        letter-spacing: -0.02em;
        color: rgba(126, 139, 182, 1);
    }

    .tiny__wrap {
        max-width: 860px;
        margin: 0 auto;
    }

    .wrap {
        max-width: 860px;
        height: 950px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .dashboard__panel {
        box-sizing: border-box;
        width: 400px;
        height: 288px;
        border: 1px solid rgba(204, 210, 233, 0.5);
        border-radius: 16px;

        img {
            padding-left: 36px;
            padding-top: 36px
        }

        .name__panel {
            @include fontFamily('Sora', normal, 600, 24px, 32px);
            letter-spacing: -0.02em;
            color: rgba(7, 14, 39, 1);
            padding-left: 32px;
            padding-top: 36px
        }

        .description__panel {
            @include fontFamily('Sora', normal, 400, 14px, 24px);
            letter-spacing: -0.01em;
            color: rgba(7, 14, 39, 1);
            opacity: 0.5;
            padding-left: 32px;
            padding-top: 16px
        }

        &:hover {
            background-color: #fff;
        }
    }

    .features__promo {
        margin-top: 96px;
        width: 840px;
        height: 328px;
        background: rgba(0, 89, 247, 1);
        border-radius: 24px;
        text-align: center;
        box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.4);

        &:hover {
            background: rgba(0, 89, 247, 0.9);
        }
    }
}

.question {
    @include fontFamily('Sora', normal, 500, 20px, 32px);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    opacity: 0.5;
    padding-top: 72px;
    color: #fff;
}

.promo__text {
    @include fontFamily('Sora', normal, 600, 36px, 40px);
    padding-top: 16px;
    letter-spacing: -0.03em;
    color: #fff;
}

.site__author {
    margin-top: 148px;
    @include fontFamily('Sora', normal, 500, 20px, 32px);
    text-align: center;
    letter-spacing: 0.02em;
    color: #7E8BB6;
}

@include xs {
    .features {
        margin-top: 20px;
        height: 2450px;
    
    
        .tiny__wrap {
            max-width: 370px;
            margin: 0 auto;
        }
    
        .wrap {
            max-width: 370px;
        }
    
        .dashboard__panel {
            margin-bottom: 15px;
            
            width: 100%;
            height: 288px;
    
            img {
                padding-left: 36px;
                padding-top: 36px
            }
        }
    
        .features__promo {
            margin-top: 870px;
            width: 370px;
            height: 328px;
        }
    }
    
    .site__author {
        margin-top: 58px;
    }
}

@include sm {
    .features {
        margin-top: 20px;
        height: 1500px;
    
    
        .tiny__wrap {
            max-width: 100%;
            margin: 0 auto;
            margin-left: 15px;
        }
    
        .wrap {
            max-width: 100%;
            margin-left: 15px;
        }
    
        .dashboard__panel {

            .name__panel {
                padding-top: 5px;
            }

            .description__panel {
                padding-left: 18px;
                padding-top: 10px;
                font-size: 12px;
            }

            margin-bottom: 15px;
            margin-right: 10px;
            
            width: 50%;
            height: 300px;
        }
    
        .features__promo {
            margin-top: 15px;
            max-width: 100%;
            height: 328px;
        }
    }
    
    .site__author {
        margin-top: 18px;
    }
}

@include md {
    .features {
        width: 100%;
        margin-top: 45px;
        margin-left: 10px;

        .features__promo {
            width: 95%;
            margin-left: -1%;
            margin-top: 76px;
            
        }

        .dashboard__panel {
            margin-right: 5px;
            margin-left: 5px;
            
            width: 45%;
            height: 300px;
        }

        .tiny__wrap {
            max-width: 100%;
            margin: 0 auto;
            margin-left: 15px;
        }

        .site__author {
            margin-top: 40px;
        }
    }
}

//**********************************************************  SECTION HOW IT WORKS PAGE  **************************************************************

.how_it_works {
    margin-top: 8px;

    .wrap {
        margin-top: 96px;
        max-width: 1300px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .how_it_works__panel {
        width: 46%;
        height: 360px;
    }

    .how_it_title__name {
        @include fontFamily('Sora', normal, 600, 36px, 40px);
        letter-spacing: -0.03em;
        color: #273464;
        margin-top: 90px;
    }

    .how_it_title__description {
        width: 400px;
        @include fontFamily('Sora', normal, 400, 20px, 32px);
        letter-spacing: -0.02em;
        color: rgba(126, 139, 182, 1); 
        margin-top: 28px;
    }
}

.how__title {
    @include fontFamily('Sora', normal, 600, 48px, 64px);
    text-align: center;
    letter-spacing: -0.03em;
    color: #273464;
}

@include xs {
    .how_it_works {
        margin-top: 8px;
        height: 1620px;
    
        .wrap {
            margin-top: 32px;
        }
    
        .how_it_works__panel {
            width: 370px;
            height: 230px;
            margin-left: 10px;

            img {
                width: 370px;
            }
        }
    
        .how_it_title__name {
            margin-top: 25px;
        }
    
        .how_it_title__description {
            width: 100%;
            margin-top: 8px;
        }

        .site__author {
            margin-top: 167px;
        }
    }
}

@include sm {
    .how_it_works {
        margin-top: 18px;
        height: 100%;
    
        .wrap {
            margin-top: 32px;
            margin-left: 15px;
            margin-right: 5px;
            max-width: 100%;
            flex-direction: row;
        }
    
        .how_it_works__panel {
            width: 47%;
            height: 100%;

            img {
                width: 100%;
                height: 230px;
            }
        }
    
        .how_it_title__name {
            margin-top: 0px;
        }
    
        .how_it_title__description {
            width: 100%;
            margin-top: 8px;
        }

        .site__author {
            margin-top: 67px;
        }
    }
}

@include md {
    .how_it_works {
        margin-top: 18px;

        .wrap {
            margin-top: 32px;
            margin-left: 5px;
            margin-right: 5px;
            max-width: 95%;
            flex-direction: row;
        }
    
        .how_it_works__panel {
            width: 46%;
            height: 100%;

            img {
                width: 100%;
                height: 230px;
            }
        }
    
        .how_it_title__name {
            margin-top: 0px;
        }
    
        .how_it_title__description {
            width: 100%;
            margin-top: 8px;
        }

        .site__author {
            margin-top: 37px;
        }
    }
}

@include lg {
    .how_it_works {
        .wrap {
            margin-top: 32px;
            margin-left: 5px;
            margin-right: 5px;
            max-width: 95%;
            flex-direction: row;
        }

        .how_it_works__panel {
            img {
                width: 100%;
            }
        }
    }
}
//**********************************************************  SECTION PRICING PAGE  **************************************************************

.price__section { 
    margin-top: 8px;
}

@include xs {
    .price__section{
        height: 1865px;
    }  
}

@include sm {
    .price__section{
        height: 1515px;

        .wrap {
            flex-direction: column;
            padding-top: 200px;
        }
    }  
}

@include md {
    .price__section{
        margin-top: 18px;
        height: 1650px;

        .wrap {
            flex-direction: column;
            padding-top: 250px;
        }
    }  
}

@include lg {
    .price__section{
        .wrap {
            width: 98%;
        }
    } 
}

//*************************************************************  SECTION PROMO PAGE  ******************************************************************

.promo {
    margin-top: 172px;
    margin-bottom: 132px;
    
    .block {
        width: 1060px;
        height: 176px;
        background: #0059F7;
        border-radius: 24px;
        display: flex;
        justify-content: space-around;
        box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.4);

        .question {
            @include fontFamily('Sora', normal, 500, 14px, 16px);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            opacity: 0.5;
            padding-top: 50px;
            color: #fff;
            margin-left: -80px;
        }

        .promo__text {
            margin-left: -80px;
        }

        .get_started {
            margin-top: 57px;
            margin-right: -80px;
        }
    }
}

@include xs {
    .promo {
        margin-top: 172px;
        margin-left: 15px;
        margin-bottom: 20px;
        
        .block {
            width: 350px;
            height: 328px;
            display: block;
    
            .question {
                margin-left: 30px;
            }
    
            .promo__text {
                margin-left: 30px;
            }
    
            .get_started {
                margin-top: 50px;
                margin-left: 25%;
            }
        }
    }
}

@include sm {
    .promo {
        margin-top: 172px;
        margin-left: 15px;
        margin-bottom: 20px;
        
        .block {
            width: 100%;
            height: 228px;
            display: block;
    
            .question {
                margin-left: 30px;
                padding-top: 30px;
            }
    
            .promo__text {
                margin-left: 30px;
                font-size: 28px;
            }
    
            .get_started {
                margin-top: 36px;
                margin-left: 36%;
            }
        }
    }
}

@include md {
    
    .promo {
        margin-top: 172px;
        
        margin-bottom: 30px;
        
        .block {
            width: 95%;
            height: 228px;
            display: block;
    
            .question {
                margin-left: 30px;
                padding-top: 30px;
            }
    
            .promo__text {
                margin-left: 30px;
            }
    
            .get_started {
                margin-top: 36px;
                margin-left: 36%;
            }
        }
    }
}

@include lg {
    .promo {        
        .block {
            width: 95%;
        }
    }
}