  <app-header></app-header>
  <main>
    <div class="start__page">
      <div class="wrap">
        <div class="start__text">
            <p>Landing</p>
            <p>Template for</p>
            <p>Startups</p>
        </div>
        <div class="start__description">
          <p>Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
          <a href="#price_carts"><button>Pricing and Plans</button></a>
        </div>
      </div>
      <div class="wrap">
        <div class="start__dashboard">
          <img src="../assets/Dashboard_Large_(Light).svg" alt="Dashboard_Large">
          <div class="start__loader"><img src="../assets/Loader.svg" alt="Временно тут"></div>
          <div class="dashboard__message"><img src="../assets/dashboard_message.svg" alt="Временно тут"></div>
        </div>
      </div>
      <div class="wrap">
        <ul class="companies__list">
          <li><img src="../assets/companies/Google_Logo.svg" alt="Google"></li>
          <li><img src="../assets/companies/Slack_Logo.svg" alt="slack"></li>
          <li><img src="../assets/companies/Amazon_Logo.svg" alt="amazon"></li>
          <li><img src="../assets/companies/Zoom_Logo.svg" alt="ZOOM"></li>
          <li><img src="../assets/companies/Netflix_Logo.svg" alt="NETFLIX"></li>
        </ul>
      </div>
    </div>
    <hr/>

    <div class="features">
      <div class="tiny__wrap">
        <p class="__title">Features</p>
        <p class="__description">Our landing page template works on all devices, so you only have to set.</p>
      </div>
      <div class="wrap">
        <div class="dashboard__panel">
          <img src="../assets/features_section/dashboard-fill.svg" alt="dashboard">
          <p class="name__panel">Dashboard</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/tailed-comments-fill.svg" alt="tailored comments">
          <p class="name__panel">Tailored comments</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/profiles-fill.svg" alt="profiles">
          <p class="name__panel">Profiles</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/comment-fill.svg" alt="comment">
          <p class="name__panel">Comment</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/statistic-fill.svg" alt="statistic">
          <p class="name__panel">Statistic</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
        <div class="dashboard__panel">
          <img src="../assets/features_section/folder-fill.svg" alt="folders">
          <p class="name__panel">Folders</p>
          <p class="description__panel">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.</p>
        </div>
      </div>
      <div class="tiny__wrap">
        <div class="features__promo">
          <p class="question">READY TO START?</p>
          <p class="promo__text">Start your free trial today!</p>
          <button class="get_started" (click)="modalCall()">
            <div class="arrow">
              <p>Get Started</p>
              <img src="../assets/features_section/arrow.svg" alt="arrow)">
            </div>
          </button>
          <app-get-started *ngIf="modalService.isShowDialog"></app-get-started>
        </div>
      </div>
      <p class="site__author">SAFLOW</p>
    </div>

    <div class="how_it_works">
      <p class="how__title">How does it works?</p>
      <div class="wrap">
        <div class="how_it_works__panel">
          <img src="../assets/how-works_section/Asset Light 01.svg" alt="">
        </div>
        <div class="how_it_works__panel">
          <p class="how_it_title__name">Super easy to customize.</p>
          <p class="how_it_title__description">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results.</p>
        </div>
        <div class="how_it_works__panel">
          <img src="../assets/how-works_section/Asset Light 03.svg" alt="">
        </div>
        <div class="how_it_works__panel">
          <p class="how_it_title__name">Totally free and cloneable.</p>
          <p class="how_it_title__description">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results.</p>
        </div>
        <div class="how_it_works__panel">
          <img src="../assets/how-works_section/Asset Light 02.svg" alt="">
        </div>
        <div class="how_it_works__panel">
          <p class="how_it_title__name">How does it work?</p>
          <p class="how_it_title__description">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results.</p>
        </div>
      </div>
      <p class="site__author">SAFLOW</p>
    </div>

    <div class="price__section" id="price_carts">
      <p class="how__title">Pricing</p>
      <div class="wrap">
        <div class="price__cart">
          <p class="price__rate">FREE</p>
          <p class="price">$<span>0</span></p>
          <hr/>
          <ul class="features__list">
            <li>7,000,000+ Events</li>
            <li>4 Custom Domains</li>
            <li>Dedicated Support Agent</li>
            <li>12 Months Data History</li>
            <li>1 Dedicated SSL</li>
          </ul>
          <button class="get_started" (click)="modalCall()">
            <div class="arrow">
              <p>Get Started</p>
              <img src="../assets/features_section/arrow.svg" alt="arrow)">
            </div>
          </button>
        </div>

        <div class="price__cart">
          <p class="price__rate">BASIC</p>
          <p class="price">$<span>23</span></p>
          <hr/>
          <ul class="features__list">
            <li>7,000,000+ Events</li>
            <li>4 Custom Domains</li>
            <li>Dedicated Support Agent</li>
            <li>12 Months Data History</li>
            <li>1 Dedicated SSL</li>
          </ul>
          <button class="get_started" (click)="modalCall()">
            <div class="arrow">
              <p>Get Started</p>
              <img src="../assets/features_section/arrow.svg" alt="arrow)">
            </div>
          </button>
        </div>

        <div class="price__cart">
          <p class="price__rate">PREMIUM</p>
          <p class="price">$<span>59</span></p>
          <hr/>
          <ul class="features__list">
            <li>7,000,000+ Events</li>
            <li>4 Custom Domains</li>
            <li>Dedicated Support Agent</li>
            <li>12 Months Data History</li>
            <li>1 Dedicated SSL</li>
          </ul>
          <button class="get_started" (click)="modalCall()">
            <div class="arrow">
              <p>Get Started</p>
              <img src="../assets/features_section/arrow.svg" alt="arrow)">
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="promo">
      <div class="wrap">
        <div class="block">
          <div>
            <p class="question">READY TO START?</p>
            <p class="promo__text">Start your free trial today!</p>
          </div>
          <div>
            <button class="get_started" (click)="modalCall()">
              <div class="arrow">
                <p>Get Started</p>
                <img src="../assets/features_section/arrow.svg" alt="arrow)">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
  <app-footer></app-footer>