<app-personal-cabinet *ngIf="modalDialog.isSHowPersonalCabinet" [usersInfo]="usersInfo"></app-personal-cabinet>
<div class="modal__login">
    <div class="wrap__login">
        <div class="wrap">
            <div class="title">
                <p class="active" (click)="active()"> Sign in </p>
                <p class="nonactive" (click)="active()"> Sign up </p>
            </div>
            <div class="close__btn">
                <img src="../../../assets/Close_icon-icons.com_71857.svg" alt="Close" (click)="closeLoginWindow()">
            </div> 
        </div>
        <hr/>
    
        <div class="wrap visible">
            <form #loginForm="ngForm" (ngSubmit)="login()" id="login">
                <div>
                    <span for="email">Email</span>
                    <input id="email" name="email" class="text" [(ngModel)]="model.username">
                </div>
                <div>
                    <span for="password">Password</span>
                    <input type="password" id="password" name="password" class="text" [(ngModel)]="model.password">
                </div>
                <button class="signin">Login</button>
            </form>
        </div>

        <div class="wrap disabled">
            <form #loginForm="ngForm" (ngSubmit)="register()" id="register">
                <div>
                    <span for="name">Name</span>
                    <input id="name" name="name" class="text" [(ngModel)]="model.name">
                </div>
                <div>
                    <span for="surname">Surname</span>
                    <input id="surname" name="surname" class="text" [(ngModel)]="model.surname">
                </div>
                <div>
                    <span for="telefon">Telefon</span>
                    <input id="telefon" name="telefon" class="text" [(ngModel)]="model.telefon">
                </div>
                <div>
                    <span for="email">E-mail</span>
                    <input id="email" name="email" class="text" [(ngModel)]="model.username">
                </div>
                <div>
                    <span for="password">Password</span>
                    <input type="password" id="password" name="password" class="text" [(ngModel)]="model.password">
                </div>
                <button class="signin">Register</button>
            </form>
        </div>
    </div>
</div>