<div class="modal__get-started">
    <div class="tarifs__ul">
        <div class="wrap">
            <p>{{rateInfo.name}}</p>
            <img src="../../../assets/Close_icon-icons.com_71857.svg" alt="Close" (click)="closeWindow()">
        </div>
        <hr/>
    </div>
    <div class="modal__price">
        <p class="price">$<span>{{rateInfo.price}}</span></p>
        <div class="email__input">
            <p>E-mail:</p>
            <input type="email" id="Email" placeholder="name@example.com">
        </div>
    </div>
    <div class="modal__price">
        <ul class="features__list">
            <li>{{rateInfo.features[0]}}</li>
            <li>{{rateInfo.features[1]}}</li>
            <li>{{rateInfo.features[2]}}</li>
            <li>{{rateInfo.features[3]}}</li>
            <li>{{rateInfo.features[4]}}</li>
        </ul>
        <div><button type="submit" (click)="checkAuth()">Subscribe</button></div>
    </div> 
</div>
