<div class="modal__get-started">
    <div class="tarifs__ul">
        <ul>
            <li>
                <p>FREE</p>
            </li>
            <li>
                <p>BASIC</p>
            </li>
            <li>
                <p>PREMIUM</p>
            </li>
        </ul>
        <hr/>
    </div>
    <div class="modal__price">
        <div>
            <p class="price">$<span>{{rateInfo.price}}</span></p>
            
        </div>
        <div class="email__input">
            <label for="Email">e-mail: </label>
            <input type="email" id="Email" placeholder="name@example.com">
        </div>
    </div>
    <div class="modal__price">
        <ul class="features__list">
            <li>{{rateInfo.features[0]}}</li>
            <li>{{rateInfo.features[1]}}</li>
            <li>{{rateInfo.features[2]}}</li>
            <li>{{rateInfo.features[3]}}</li>
            <li>{{rateInfo.features[4]}}</li>
        </ul>
        <div><button type="submit" (click)="modalClose()">SEND PLAN</button></div>
    </div> 
</div>
