@import '../../../assets/mixins.scss';

:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    overflow-y: auto;
    padding: 1rem 1rem 142px;
}

.modal__get-started {
    margin: 100px auto;
    width: 40%;
    height: 550px;
    background: rgba(7, 14, 39, 1);
    border-radius: 24px;
    text-align: center;
}

.tarifs__ul {
    margin-left: 40px;
    height: 20%;
    width: 90%;
    padding-top: 32px; 

    .wrap {
        justify-content: space-between;
    }

    img {
        margin-top: -60px;
    }

    p {
        text-align: left;
        @include fontFamily('Sora', normal, 600, 42px, 75px);
        letter-spacing: -0.04em;
        color: #fff;
    }
    
    hr {
        width: 100%;
        background: #081131;
        opacity: 0.16;
        border-radius: 16px;
    }
}

.modal__price {
    width: 90%;
    display: flex;
    justify-content: space-between;

    .email__input {
        padding-top: 20px;

        p {
            text-align: left;
            @include fontFamily('Sora', normal, 400, 32px, 32px);
            letter-spacing: -0.04em;
            color: #CCD2E9;
        }

        input {
            margin-top: 10px;
            @include fontFamily('Sora', normal, 400, 26px, 32px);
            letter-spacing: -0.04em;
            color: #CCD2E9;
            
            border: 1px #4E5A85 solid;
            border-radius: 10px;
        }
    }

    .features__list {
        text-align: left;
    }

    button {
        width: 188px;
        height: 56px;
        background: rgba(0, 89, 247, 1);
        border-radius: 8px;
        align-items: center;
        border:none;

        margin-top: 110%;
        margin-left: 8%;

        color: rgba(255, 255, 255, 1);
        @include fontFamily('Sora', normal, 500, 16px, 24px);

        &:active {
            background: rgb(66, 133, 250);
        }
    }
}

@include xs {

    .non_flex {
        display: block;
    }

    .modal__get-started {
        width: 90%;
        height: auto;
        padding-bottom: 25px;
        border-radius: 14px;
        margin-left: -5px;
    }
    
    .tarifs__ul {
        margin-left: 40px;
        height: 11%;
        width: 90%;
        padding-top: 32px; 
    
        .wrap {
            justify-content: space-between;
        }
    
        img {
            width: 24px;
            margin-right: 12px;
        }
    
        p {
            @include fontFamily('Sora', normal, 600, 21px, 37px);
        }
        
        hr {
            width: 90%;
        }
    }
    
    .modal__price {
    
        .price {
            @include fontFamily('Sora', normal, 600, 29px, 25px);
        }

        .email__input {
            padding-top: 0px;
    
            p {
                @include fontFamily('Sora', normal, 400, 19px, 12px);
            }
    
            input {
                @include fontFamily('Sora', normal, 400, 14px, 20px);
                border-radius: 8px;
            }
        }
    
        .features__list {
            margin-top: 17px;

            li {
                margin-left: 12px;
                margin-bottom: 12px;
                @include fontFamily('Sora', normal, 400, 14px, 24px);
            }
        }
    
        button {
            width: 150px;
            height: 42px;
            margin-top: 10%;
            margin-left: 10%;
            @include fontFamily('Sora', normal, 500, 14px, 24px);
    
            &:active {
                background: rgb(66, 133, 250);
            }
        }
    }
}

@include sm {

    .non_flex {
        display: block;
    }

    .modal__get-started {
        width: 90%;
        height: auto;
        padding-bottom: 25px;
        border-radius: 14px;
        margin-left: -5px;
    }
    
    .tarifs__ul {
        margin-left: 40px;
        height: 11%;
        width: 90%;
        padding-top: 32px; 
    
        .wrap {
            justify-content: space-between;
        }
    
        img {
            width: 24px;
            margin-right: 12px;
        }
    
        p {
            @include fontFamily('Sora', normal, 600, 21px, 37px);
        }
        
        hr {
            width: 93.5%;
        }
    }
    
    .modal__price {
    
        .price {
            @include fontFamily('Sora', normal, 600, 29px, 25px);
        }

        .email__input {
            padding-top: 20px;
    
            p {
                @include fontFamily('Sora', normal, 400, 19px, 12px);
            }
    
            input {
                @include fontFamily('Sora', normal, 400, 14px, 20px);
                border-radius: 8px;
            }
        }
    
        .features__list {
            margin-top: 17px;

            li {
                margin-left: 12px;
                margin-bottom: 12px;
                @include fontFamily('Sora', normal, 400, 14px, 24px);
            }
        }
    
        button {
            width: 150px;
            height: 42px;
            margin-top: 2%;
            margin-left: 10%;
            @include fontFamily('Sora', normal, 500, 14px, 24px);
    
            &:active {
                background: rgb(66, 133, 250);
            }
        }
    }
}

@include md {

    .non_flex {
        display: block;
    }

    .modal__get-started {
        width: 85%;
        height: auto;
        padding-bottom: 25px;
        border-radius: 14px;
    }
    
    .tarifs__ul {
        margin-left: 40px;
        height: 11%;
        width: 95%;
        padding-top: 32px; 
    
        .wrap {
            justify-content: space-between;
        }
    
        img {
            width: 24px;
            margin-right: 12px;
        }
    
        p {
            @include fontFamily('Sora', normal, 600, 21px, 37px);
        }
        
        hr {
            width: 93.5%;
        }
    }
    
    .modal__price {
    
        .price {
            @include fontFamily('Sora', normal, 600, 29px, 25px);
        }

        .email__input {
            padding-top: 20px;
    
            p {
                @include fontFamily('Sora', normal, 400, 19px, 12px);
            }
    
            input {
                @include fontFamily('Sora', normal, 400, 14px, 20px);
                border-radius: 8px;
            }
        }
    
        .features__list {
            margin-top: 17px;

            li {
                @include fontFamily('Sora', normal, 400, 14px, 24px);
            }
        }
    
        button {
            width: 150px;
            height: 42px;
            margin-top: 2%;
            margin-left: 10%;
            @include fontFamily('Sora', normal, 500, 14px, 24px);
    
            &:active {
                background: rgb(66, 133, 250);
            }
        }
    }
}

@include lg {

    .modal__get-started {
        width: 60%;
        height: auto;
        padding-bottom: 25px;
        border-radius: 14px;
    }

    .features__list {
        text-align: left;
        margin-left: -5%;
        height: auto;
    }
    
    button {
        width: 150px;
        height: 42px;
        margin-top: 2%;
        margin-left: 10%;
        @include fontFamily('Sora', normal, 500, 14px, 24px);
    
        &:active {
            background: rgb(66, 133, 250);
        }
    }
}