<div class="header">
    <div class="wrap">
        <div class="header__logo">
          <img src="./assets/logo.svg" alt="Logo">
          <p>Saflow</p>
        </div>
        <div class="header__logo">
            <p>Roman M.</p>
            <img src="" alt="LK-picture || avatar">
        </div>
    </div>
    <hr/>    
</div>

<div class="wrap">
    <div class="user__info__div">
        <a (click)="closePersonalCabinet()">Back</a>
        <div class="user__info">
            <form>
                <label for="name">Name: <span>"$Roman"</span></label>
                <input id="name" type="text">

                <label for="name">Surname: <span>"$Matyushin"</span></label>
                <input id="name" type="text">

                <label for="name">E-mail: <span>"$fgufhgk@mail.com"</span></label>
                <input id="name" type="email">

                <label for="name">Mobile phone: <span>"$435873695389"</span></label>
                <input id="name" type="text">

                <label>Transaction date:  <span>"$15.09.2022""</span></label>
            </form>
        </div>
        <button class="get_started">Change Info</button>
    </div>
</div>

<div class="user__rate__info"></div>
